{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('failure') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}